# Disable MultiViews to prevent Apache from trying to match multiple content types
Options -MultiViews

# Enable the Rewrite Engine
RewriteEngine On

# Redirect www to non-www with HTTPS
RewriteCond %{HTTP_HOST} ^www\.thebest-paint-kuwait\.site$ [NC]
RewriteRule ^(.*)$ https://thebest-paint-kuwait.site/$1 [R=301,L]